/* Add styles for the header image */
.header-image {
    width: 100%;
    max-width: 1200px; /* Set a maximum width */
    height: auto;
    overflow: hidden;
    margin: 20px auto; /* Center the image horizontally */
    padding: 10px; /* Add padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a cleaner look */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px; /* Add border-radius for rounded corners */
}

body {
    background-color: #f8f9fa;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
    font-size: 3em;
    color: #343a40;
    text-shadow: 2px 2px #ff6f61;
}

.card {
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.scoreboard h4 {
    font-size: 1.5em;
    color: #343a40;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #ff6f61;
    border-color: #ff6f61;
}

.btn-outline-primary {
    border-color: #ff6f61;
    color: #ff6f61;
}

.btn-outline-primary:hover {
    background-color: #ff6f61;
    color: white;
}

.results {
    font-size: 1.2em;
}

#overallResult {
    font-weight: bold;
    color: #343a40;
}

#roundResult {
    font-style: italic;
}

input.form-control {
    border: 2px solid #ff6f61;
    border-radius: 8px;
}

button {
    border-radius: 8px;
}
